/*Property and Consume boxes*/
.property-title {
  text-align: center;
  font-size: 32px;
  color: rgb(3, 133, 122);
  margin-top: 70px;
  margin-bottom: 30px;
}

.property-data, .property-consume-type {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin-bottom: 20px;
}

.property-consume-type {
  gap: 10px;
  margin-bottom: 50px;
}

.property-select {
  min-width: 180px;
  min-height: 70px;
  font-size: 18px;
  font-weight: bold;
  padding: 14px;
  background: white;
  border: 2px solid rgba(128, 128, 128, 0.356);
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  color: rgb(63, 63, 63);
  cursor: pointer;
  transition: 0.2s;
}

.property-select:hover {
  background: rgb(225, 252, 252);
  border-color: rgb(3, 133, 122);
}

.property-select.selected {
  background: rgb(0, 168, 154);
  border-color: rgb(3, 133, 122);
  color: white;
}

.property-consume-select {
  padding: 14px;
  background: rgba(17, 196, 181, 0.027);
  border: 2px solid rgba(1, 168, 154, 0.685);
  border-radius: 25px;
  color: rgb(3, 133, 122);
  cursor: pointer;
  transition: 0.2s;
}

.property-consume-select:hover {
  background: rgb(225, 252, 252);
  border-color: rgb(1, 168, 154);
}

.property-consume-select.selected {
  background: rgb(17, 196, 181);
  border-color: rgb(1, 168, 154);
  color: white;
}


/*Donations*/
.donation {
  width: 60%;
  padding: 40px;
  background: white;
  margin: 60px auto;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.donation-txt {
  font-size: 17px;
}

.donation h2 {
  color: rgb(3, 133, 122);
  font-size: 22px;
  margin-top: 40px;
  border-bottom: 2px solid rgb(204, 204, 204);
  padding-bottom: 8px;
}

.security-policies-txt {
  font-size: 17px;
  background: rgba(241, 241, 241, 0.438);
  color: rgb(63, 63, 63);
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 8px;
  border-left: 4px solid rgb(3, 133, 122);
  border-right: 4px solid rgb(3, 133, 122);
}

.donation li {
  font-size: 15px;
}

.upload-data {
  width: 500px;
  padding: 40px;
  background: white;
  margin: 60px auto;
  text-align: center;
  border: 1px dashed rgb(165, 165, 165);
  border-radius: 10px;
}

.upload-data p {
  margin-bottom: 40px;
}

.error-upload-file {
  color: rgb(196, 30, 52);
  background: rgb(255, 237, 240);
  font-size: 14px;
  padding: 18px;
  margin: 30px 35px 15px 35px;
  white-space: pre-line;
  border-radius: 8px;
  border: 1px solid rgb(230, 168, 179);
  line-height: 1.5;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.add-data, .upload-data button {
  background: rgb(3, 133, 122);
  color: white;
  padding: 12px 22px;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 35px;
  margin-right: 15px;
  transition: 0.3s;
}

.edit-consent {
  background: rgb(3, 133, 122);
  color: white;
  padding: 4px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  margin: 0px auto 10px 20px;
  width: 150px;
  transition: 0.3s;
}

.add-data:hover, .edit-consent:hover, .upload-data button:hover {
  background-color: rgb(1, 92, 84);
}

.show-hide-files-uploaded, .show-hide-answer {
  font-weight: bold;
  color: rgb(2, 167, 153);
  cursor: pointer;
  transition: 0.2s;
}

.show-hide-files-uploaded:hover, .show-hide-answer:hover {
  color: rgb(1, 92, 84);
}

.answer, .answer li {
  line-height: 1.5;
  font-size: 15px
}

/*Consents*/
.consent-popup {
  background: rgba(0, 0, 0, 0.637);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.consent-popup-content h2 {
  text-align: center;
  font-size: 32px;
  color: rgb(3, 133, 122);
  margin-bottom: 30px;
  margin-top: 15px;
}

.consent-popup-content{
  background: white;
  padding: 30px;
  max-width: 900px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.checkboxes-content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.checkboxes-content label {
  margin-left: 20px;
  display: flex;
  font-size: 14px;
}

.checkboxes-content input[type="checkbox"] {
  margin-right: 8px;
}

.error-consent {
  color: rgb(196, 30, 52);
  background: rgb(255, 237, 240);
  font-size: 14px;
  padding: 18px;
  margin: 20px auto auto auto;
  border-radius: 8px;
  border: 1px solid rgb(230, 168, 179);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.save-consent, .cancel-consent {
  border-radius: 5px;
  cursor: pointer;
  margin-top: 40px;
  margin-right: 15px;
  font-size: 14px;
}

.save-consent {
  background-color: rgb(3, 133, 122);
  color: white;
}

.save-consent:hover {
  background-color: rgb(1, 92, 84);
}

.cancel-consent {
  background-color: rgba(221, 38, 38, 0.904);
  color: white;
}

.cancel-consent:hover {
  background-color: rgb(180, 31, 31);
}

.delete-consent {
  background-color: rgb(171, 42, 62);
  display: block;
  margin: 10px 10px 0px auto;
}

.delete-consent:hover {
  background-color: rgb(209, 54, 77);
}

.delete-confirm-popup {
  background: rgba(0, 0, 0, 0.637);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-confirm-popup-content{
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.delete-confirm-popup-buttons button {
  margin: 20px 20px 0px 20px;
}

.select-all {
  width: 100%;
  font-weight: bold;
  margin-bottom: 20px;
  border: 3px solid rgb(3, 133, 122);
  padding: 6px;
}

.select-all label {
  font-size: 16px;
}