.footer {
    background: rgba(236, 236, 236, 0.555);
    padding: 40px 60px;
    margin-top: 60px;
    text-align: center;
}

/* Up Footer */
.footer-up {
    max-width: 100%;
    margin-bottom: 30px;
}

.footer-up h2 {
    font-size: 28px;
    font-weight: bold;
    color: rgba(204, 58, 75, 0.699);
}

.footer-up h3 {
    font-size: 18px;
    font-weight: bold;
    color: rgb(43, 42, 42);
}

.footer-up p {
    font-size: 14px;
    color: rgb(43, 42, 42);
    line-height: 1.5;
}

.footer-up img {
    max-width: 300px;
    margin-top: 15px;
}

/* Down Footer */
.footer-down {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.footer-section h4 {
    font-weight: bold;
    color: rgb(43, 42, 42);
    margin-top: 30px;
}

.footer-section img {
    margin: 0px 10px;
}

/* Individual Image Sizes */
.UPFLogo {
    max-width: 170px;
}

.IdeasForChange {
    max-width: 130px;
}

.InBarcelonaOva {
    max-width: 140px;
}

.AjuntamentBarcelona {
    max-width: 190px;
}

.MinisterioCienciaInnovacion {
    max-width: 170px;
}

.AgenciaEstatalDeInvestigacion {
    max-width: 40px;
}

.ExcelenciaMariaDeMaetzu {
    max-width: 110px;
}

/*Responsive*/
@media (max-width: 768px) {
    .footer {
        padding: 30px 20px;
    }

    .footer-down {
        flex-direction: column;
        gap: 10px;
    }
}