.navbarstart {
  background: #C4E8E8;
  padding: 20px 30px;
  position: fixed;
  top: 0px;
  width: 100%;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  color: rgba(248, 73, 93, 0.562);
  text-decoration: none;
}

.logo:hover {
  color: rgba(204, 58, 75, 0.562);
}




