.notification {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.notification-content h2 {
    text-align: center;
    font-size: 32px;
    color: rgb(3, 133, 122);
    margin-bottom: 50px;
    margin-top: 70px;
}

.notification-content {
    background: white;
    padding: 20px;
    max-width: 850px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.checkboxesN-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px 80px;
}

.checkboxesN-content label {
    display: flex;
    font-size: 14px;
}

.checkboxesN-content input[type="checkbox"] {
    margin-right: 8px;
}

.buttons-notification {
    display: flex;
    justify-content: center;
    align-items: center;
}

.save-notification,
.cancel-notification {
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
    margin-right: 15px;
    font-size: 14px;
}

.save-notification {
    background-color: rgb(3, 133, 122);
    color: white;
    margin-bottom: 40px;
    margin-right: 40px;
}

.save-notification:hover {
    background-color: rgb(1, 92, 84);
}

.cancel-notification {
    background-color: rgba(221, 38, 38, 0.904);
    color: white;
    margin-bottom: 40px;
}

.cancel-notification:hover {
    background-color: rgb(180, 31, 31);
}

.select-all-notifications {
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
    border: 3.5px solid rgb(3, 133, 122);
    padding: 6px;
    background-color: rgba(3, 133, 122, 0.055);
}

.select-all-notifications label {
    font-size: 16px;
}

.notification-message {
    color: rgb(30, 196, 119);
    background: rgb(237, 255, 241);
    font-size: 14px;
    padding: 15px;
    margin: 30px auto 0px auto;
    max-width: 400px;
    border-radius: 8px;
    border: 1px solid rgb(168, 230, 183);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

@media (max-width: 768px) {
    .checkboxesN-content {
        padding: 0px 30px;
    }
}