/* PERSONAL INFORMATION */
.user-data {
    width: 60%;
    padding: 30px;
    background: white;
    margin: 50px auto;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.user-data h1 {
    text-align: center;
    font-size: 30px;
    color: rgb(3, 133, 122);
    margin-bottom: 30px;
}

.row {
    display: flex;
    gap: 40px;
}

.input {
    flex: 1;
    font-size: 16px;
    font-weight: bold;
    color: rgb(43, 42, 42);
    margin-bottom: 15px;
}

select {
    margin-bottom: 0px;
}

.input label {
    display: block;
    margin-bottom: 7px;
}

/* Edit User Data*/
.input input[type="text"],
.input input[type="password"],
select {
    border-radius: 5px;
    width: 93%;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0, 0.192);
    font-size: 14px;
    background: rgba(228, 228, 228, 0.349);
}

/* Only View User Data*/
.input input[type="text"]:disabled,
.input input[type="password"]:disabled,
select:disabled {
    background: rgba(180, 180, 180, 0.349);
    color: grey;
    cursor: not-allowed;
}

.edit,
.save,
.cancel,
.delete {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px;
    font-size: 14px;
    max-width: 95px;
}

.edit,
.save {
    background-color: rgb(3, 133, 122);
    color: white;
}

.edit:hover,
.save:hover {
    background-color: rgb(1, 92, 84);
}

.cancel,
.delete {
    background-color: rgba(221, 38, 38, 0.904);
    color: white;
}

.cancel:hover,
.delete:hover {
    background-color: rgb(180, 31, 31);
}

.error-upload {
    color: rgb(196, 30, 52);
    background: rgb(255, 237, 240);
    font-size: 14px;
    padding: 12px;
    margin: 25px auto 40px auto;
    max-width: 450px;
    border-radius: 8px;
    border: 1px solid rgb(230, 168, 179);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}


/* PROPERTY INFORMATION */
.properties-data {
    width: 60%;
    padding: 30px;
    background-color: white;
    margin: 50px auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.properties-data h1 {
    text-align: center;
    font-size: 30px;
    color: rgb(3, 133, 122);
    margin-bottom: 30px;
}

.properties {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.property-input {
    max-width: 250px;
    padding: 20px;
    background-color: rgba(228, 228, 228, 0.493);
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.property-input:hover {
    background-color: rgba(154, 218, 226, 0.31);
}

.property-name {
    font-size: 20px;
    font-weight: bold;
    color: rgba(3, 133, 122, 0.808);
}

.property-information {
    font-size: 14px;
    color: rgb(85, 85, 85);
    margin-bottom: 10px;
}

.no-properties {
    font-size: 16px;
    color: grey;
    text-align: center;
    padding: 15px;
}

.add-property-button {
    background-color: rgb(3, 133, 122);
    color: white;
    padding: 16px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.add-property-button:hover {
    background-color: rgb(1, 92, 84);
}

/* Responsive */
@media (max-width: 700px) {
    .user-data {
        width: 90%;
    }

    .row {
        flex-direction: column;
        gap: 10px;
    }

    .properties-data {
        width: 90%;
    }
}