body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    background: burlywood;
}

.register {
    max-width: 700px;
    padding: 25px;
    border-radius: 30px;
    background: #ffffff;
    margin: 100px auto;
}

.title-register {
    font-size: 18px;
    color: #5A0B4D;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.error-register {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.subtitle-register {
    font-size: 16px;
    font-weight: bold;
    color: #200129;
    display: block;
    margin-bottom: 5px;
    margin-left: 20px;
}

.register input[type="text"], .register input[type="password"] {
    border-radius: 10px;
    width: 500px;
    margin: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    display: block;
    font-size: 14px;
}

.register input[type="submit"], button {
    border-radius: 7px;
    width: 120px;
    margin-top: 30px;
    margin-left: 20px;
    padding: 10px;
    border: none;
    background-color: #5A0B4D;
    color: white;
    font-size: 16px;
}

.register input[type="submit"]:hover, button:hover {
    background-color: #3e0835;
}
