.consume-data {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin-top: 2rem;
}
  
.consume-input {
  max-width: 500px; 
  padding: 40px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 50px;
}

.consume-input:hover {
  background-color: rgba(151, 216, 224, 0.027);
}

.consume-input h2 {
  text-align: center;
  font-size: 25px;
  border-bottom: 2px solid rgb(204, 204, 204);
  padding-bottom: 8px;
}
.consume-input h3 {
  text-align: center;
  color: grey;
  margin-bottom: 30px;
}

.consume-input p {
  margin-top: 50px;
  font-size: 18px;
  color: rgb(3, 133, 122);
}

.month-select {
  padding: 14px;
  background: rgba(17, 196, 181, 0.027);
  border: 2px solid rgba(1, 168, 154, 0.685);
  border-radius: 25px;
  color: rgb(3, 133, 122);
  cursor: pointer;
  transition: 0.2s;
}

.month-select:hover {
  background: rgb(225, 252, 252);
  border-color: rgb(1, 168, 154);
}

.month-select.selected {
  background: rgb(17, 196, 181);
  border-color: rgb(1, 168, 154);
  color: white;
}
